<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register_page</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" id="username" name="username" required>
        <label for="username">username</label>

        <input type="password" id="password" name="password" required>
        <label for="password">password</label>

        <button type="submit">submit</button>
    </form>
</body>
</html>